.wrapper {
  width: 100%;
}

.board {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.column {
  width: 300px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: #f8f8f8;
  min-height: 500px;

  padding: 14px 8px;
  border-radius: 6px;
}

.columnHeader {
  display: flex;
  gap: 5px;
  align-items: center;
}

.columnHeader .columnTitle {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.columnHeader .count {
  background-color: rgb(231, 231, 231);
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

/* Tablet */
@media (max-width: 992px) {
  .board {
    overflow-x: auto;
    padding-bottom: 8px;
  }

  .column {
    width: 280px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .board {
    overflow-x: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
  }

  .column {
    width: 260px;
    min-width: 260px;
  }
}
