.wrapper {
  display: flex;
  align-items: center;
  padding: 13px;
  gap: 10px;
  border-radius: 12px;
  transition: all 0.3s ease;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.wrapper svg {
  font-size: 16px;
}
.wrapper.active {
  color: var(--secondary-color);
  background-color: var(--hover-color);
}
.wrapper.active.isdashboard {
  color: white;
  background-color: var(--primary-color);
}
.wrapper:hover {
  background-color: var(--hover-color);
}
