.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;
}
.wrapper:hover {
  background-color: rgb(227, 227, 227);
}
.primary {
  background-color: var(--primary-color);
  color: white;
}
.primary:hover {
  color: var(--primary-color);
}
.outline {
  border: var(--border);
  color: var(--primary-color);
  background-color: var(--bg-color);
  white-space: nowrap;
}
.outline :hover {
  background-color: #f9fafb;
}
.danger {
  border: 1px rgb(207, 153, 153) solid;
  background-color: rgb(255, 242, 242);
  color: red;
}
.danger svg {
  color: red;
}
.danger svg:hover {
  background-color: rgb(243, 243, 243);
}
.wrapper.primary svg {
  font-size: 13px;
  color: white;
}
.wrapper.outline svg {
  font-size: 13px;
  color: var(--primary-color);
}

/* ghost */

.ghost {
  background-color: #f9fafb;
  color: #444;
  border: var(--border);
}

.ghost:hover {
  background-color: #f1f3f4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 13px;
  color: #5f6368;
}
